{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h1>Константин</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Патчу KDE под FreeBSD.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Мои научные работы</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="#">Влияние творчества достоевского на рост волос в ж*пе рябчика</a></p>
        <p><a href="#">Хитрый электрик, или почему ток переменный а бьет постоянно..</a></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="#">Поговорим о Якубовиче</a></p>
        <p><a href="#">Выучить Python и не потерять рассудок, миф или реальность?</a></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="#">Поговорим о Якубовиче</a></p>
        <p><a href="#">ооп для экстравертов</a></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="#">Задача про сторожа, фонарик или "у негра там темнее.."</a></p>
        <p><a href="#">О названиях функций</a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Телефон: 112</p>
        <p>Почта: <a href="mailto: kosty@gmail.com">kosty@gmail.com</a></p>
        <p>Скайп: kosty</p>
        <p>Телеграм: @kosty</p>
      </div>
    </div>
  </div>
{% endblock %}