{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container py-5">
<pre>
              .-/+oossssoo+/-.               kosty@kosty-Aspire-V3
        `:+ssssssssssssssssss+:`           ---------------------
      -+ssssssssssssssssssyyssss+-         OS: Ubuntu 20.04.3 LTS x86_64
    .ossssssssssssssssssdMMMNysssso.       Host: Aspire V3-571G V2.21
   /ssssssssssshdmmNNmmyNMMMMhssssss/      Kernel: 5.11.0-38-generic
  +ssssssssshmydMMMMMMMNddddyssssssss+     Uptime: 3 hours, 16 mins
 /sssssssshNMMMyhhyyyyhmNMMMNhssssssss/    Packages: 2406 (dpkg), 12 (snap)
.ssssssssdMMMNhsssssssssshNMMMdssssssss.   Shell: bash 5.0.17
+sssshhhyNMMNyssssssssssssyNMMMysssssss+   Resolution: 1366x768, 1920x1080
ossyNMMMNyMMhsssssssssssssshmmmhssssssso   DE: Plasma
ossyNMMMNyMMhsssssssssssssshmmmhssssssso   WM: KWin
+sssshhhyNMMNyssssssssssssyNMMMysssssss+   WM Theme: Breeze
.ssssssssdMMMNhsssssssssshNMMMdssssssss.   Theme: Breeze [Plasma], Breeze [GTK2/3]
 /sssssssshNMMMyhhyyyyhdNMMMNhssssssss/    Icons: [Plasma], breeze [GTK2/3]
  +sssssssssdmydMMMMMMMMddddyssssssss+     Terminal: konsole
   /ssssssssssshdmNNNNmyNMMMMhssssss/      CPU: Intel i7-3520M (4) @ 3.600GHz
    .ossssssssssssssssssdMMMNysssso.       GPU: Intel 3rd Gen Core processor Graphics Controller
      -+sssssssssssssssssyyyssss+-         GPU: NVIDIA GeForce GT 730M
        `:+ssssssssssssssssss+:`           Memory: 4651MiB / 7851MiB<di>
    </div>

{% endblock %}