{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% load user_filters %}


<div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                  {% if is_edit %}
                        Редактировать запись
                        {% else %}
                        Добавить запись
                        {% endif %}
              </div>
              <div class="card-body">
                  {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
          {% endif %}
                  <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group row my-3 p-3">
                    <label>
                      Текст поста
                      <span class="required text-danger" >*</span>
                    </label>
                   {{ form.text|addclass:'form-control' }}
                    <small id="id_text-help" class="form-text text-muted">
                      Текст нового поста
                    </small>
                  </div>
                  <div class="form-group row my-3 p-3">
                    <label>
                      Group
                    </label>
                   {{ form.group|addclass:'form-control' }}
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>

                      <div class="form-group row my-3 p-3">
                    <label>
                        Изображение
                    </label>
                   {{ form.image|addclass:'form-control' }}
                    <small id="id_image-help" class="form-text text-muted">изображение</small>
                  </div>






                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
                        Сохранить
                        {% else %}
                        Добавить
                        {% endif %}
                    </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
